<% layout("/layouts/adminBoilerplate") %>
    <style>
        .right_side_panel {
            display: block;
            overflow-x: auto;
            max-width: 100%;
            padding: 20px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            font-size: 18px;
            text-align: left;
        }


        td{
            padding: 5px;
        }
        th {
            padding: 12px;
            background-color: #c9caf0e7;
        }

        tr:hover {
            background-color: #cce4f8d8;
        }
    </style>


        <div class="right_side_panel p-4 m-3">
            <h3 class="py-4">All Users List</h3>
            <table >
                <thead>
                    <tr>
                        <th>ID</th>
                        <th class="w-25">Full Name</th>
                        <th>Email</th>
                        <th>Status</th>
                        <th >Last Login</th>
                        <th>Payment Mode</th>
                        <th>Plan</th>
                        <th>Register Date</th>
                    </tr>
                </thead>
                <tbody>
                    <% users.forEach(user => { %>
                        <tr>
                            <td><%= user.ID %></td>
                            <td><%= user.FULLNAME %></td>
                            <td><%= user.EMAIL %></td>
                            <td><%= user.STATUS %></td>
                            <td><%= user.LAST_LOGIN ? user.LAST_LOGIN.toISOString().slice(0, 10) : 'N/A' %></td>
                            <td><%= user.PAYMENT_MODE %></td>
                            <td><%= user.PLAN %></td>
                            <%= user.REGISTER_DATE ? user.REGISTER_DATE.toISOString().slice(0, 19).replace('T', ' ') : 'N/A' %>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
