<% layout("/layouts/adminBoilerplate") %>

    <style>
        .content {
            width: 100%;
            padding: 20px;
            position: relative; 
        }

        #control{
            width: 25%;
            float: right;
            display: flex;
            justify-content: center;
            gap: 10px;
        }
        
        .button_delete,.button_edit {
            padding: 5px;
            cursor: pointer;
            border: 1px solid #ccc;
        }
        
        h1 {
            text-align: center;
            color: #333;
        }
        .question {
            background-color: #fafafa;
            padding: 15px;
            margin-bottom: 20px;
            border-radius: 8px;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        }
        .question h2 {
            font-size: 18px;
            color: #444;
        }
        .options {
            list-style-type: none;
            padding-left: 0;
        }
        .options li {
            padding: 10px;
            margin: 5px 0;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }
        .options li:hover {
            font-weight: bold;
        }
    </style>

        <div class="right_side_panel">
            <div class="d-flex shadow-sm p-2 border">
                <div><h5>Filters</h5></div>
                <div class="ms-auto filter">
                    <form method="GET" action="/filtermanageQuestions"> 
                        <select name="subject" id="subject">
                            <% tables.forEach(table => { %>
                                <option><%= table.originalTableName.replace(/_/g, ' ').toUpperCase() %></option>
                            <%})%>  
                        </select>
                        <select name="difficulty" id="difficulty">
                            <!-- <option value="">Difficulty Level</option> -->
                            <option value="Easy">Easy</option>
                            <option value="Medium">Medium</option>
                            <option value="Hard">Hard</option>
                        </select>
                        <button type="submit" class="btn btn-primary">Filter</button>
                    </form>
                </div>
            </div>
            <h1>All Questions</h1>
            <div class="content">
                <% questions.forEach(function(question, index) { %>
                    <div id="control">
                        <form method="GET" action="/manageQuestions/<%=question.question_id%>/edit">
                            <button class="button_edit"><i class="fas fa-edit"></i> Edit</button>
                        </form>
                        <form method="POST" action="/manageQuestions/<%=question.question_id%>?_method=delete">
                            <button class="button_delete"><i class="fas fa-trash"></i> Delete</button>
                        </form>
                    </div>
                    <div class="question" id="question-<%= index + 1 %>">
                    <p>Question Id: <%= question.question_id %></p>
                    <h5><b>Question <%= index + 1 %>: </b></h5><h2><%= question.question_text %></h2>
                    <ul class="options">
                        <li>A. <%= question.option_a %></li>
                        <li>B. <%= question.option_b %></li>
                        <li>C. <%= question.option_c %></li>
                        <li>D. <%= question.option_d %></li>
                    </ul>
                    <h2>Correct Answer: <%= question.correct_option%></h2>
                </div>
                <% }); %>
            </div>
        </div>

