<% layout("/layouts/adminBoilerplate") %>

    <style>
        .card {
            width: 200px;
            height: 175px;
            border-radius: 10px;
            background-color: #e9eef7;
        }
        .card a {
            align-self: last baseline;
            margin-top: 30%;
            margin-right: 5px;
        }
        #allCourse {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            height: fit-content;
            gap: 40px;
        }
        #TableForm {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        #TableForm i {
            font-size: 80px;
            color: #ccc;
            margin-bottom: 15px;
        }
    </style>

        <div class="right_side_panel p-5 d-block">
            <h3 class="my-4">Subject Available</h3>
            <div id="allCourse">

                <% difficultyCounts.forEach(counts => { %>
                    <div class="row h-100">
                        <div class="card">
                            <h6 class="text-center py-2 fw-bold">
                                <%= counts.tableName.replace(/_/g, ' ').replace(/subject/g, '').toUpperCase() %>
                            </h6>
                            <div class="d-flex justify-content-between px-2 fw-bold">
                                <div class="text-center">Easy 
                                    <div> <%= counts.easyCount %> </div>
                                </div>
                                <div class="text-center">Medium 
                                    <div> <%= counts.mediumCount %> </div>
                                </div>
                                <div class="text-center">Hard 
                                    <div> <%= counts.hardCount %> </div>
                                </div>
                            </div>
                            <a href="#" class="text-decoration-none">view</a>
                        </div>
                    </div>
                <% }) %>
                
                <div class="row h-100">
                    <div class="card d-flex flex-column align-items-center">
                        <h6 class="text-center py-2 fw-bold">Create New Subject</h6>
                        <form action="/manageSubjects" method="POST" id="TableForm">
                            <button type="submit" class="border border-0 bg-transparent"><i class="fas fa-plus-circle"></i></button>
                            <input type="text" name="newTable" placeholder="Enter New Subject Name" required>
                        </form>
                    </div>
                </div>
                <div class="row h-100">
                    <div class="card d-flex flex-column align-items-center">
                        <h6 class="text-center py-2 fw-bold">Delete Subject Table</h6>
                        <form action="/manageSubjects/delete" method="POST" id="TableForm">
                            <button type="submit"  class="border border-0 bg-transparent">
                                <i class="fas fa-trash-alt" ></i></button>
                            <select class="form-control py-0" name="deleteTable">
                                <option>--- Choose Table ---</option>
                                <% tables.forEach(table => { %>
                                <option><%= table.originalTableName.replace(/_/g, ' ').toUpperCase() %></option>
                                <%})%>
                            </select>
                        </form>
                    </div>
                </div>
            </div>
        </div>
   
