<% layout("/layouts/adminBoilerplate") %>
<style>
        .card {
            width: 200px;
            height: 175px;
            border-radius: 10px;
            background-color: #e9eef7;
        }
        .card a {
            align-self: last baseline;
            margin-top: -10%;
            margin-right: 5px;
        }
        #allCourse {
            
            height: fit-content;
            gap: 40px;
            margin-bottom: 20px;
        }
        #allCourse table {
            width: 100%;
        }
        #allCourse table th {
            background-color: #f0f8ff;
            text-align: center;
            border: 2px solid #ccc;
        }
        #allCourse table td {
            text-align: center;
            border: 1px solid #ccc;
        }
        #manageTable {
            display: flex;
            height: fit-content;
            gap: 40px;
            padding-top: 10px;
            padding-bottom: 20px;
            border-bottom: 2px solid #ccc;
        }
        #TableForm {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        #TableForm i {
            font-size: 80px;
            color: #ccc;
            margin-bottom: 15px;
        }
    </style>

        <div class="right_side_panel p-5 d-block">
            <h3>Manage Table</h3>
            <div id="manageTable">
                <div class="row h-100">
                    <div class="card d-flex flex-column align-items-center">
                        <h6 class="text-center py-2 fw-bold">Create Test Table</h6>
                        <form action="/manageTests" method="POST" id="TableForm">
                            <button type="submit" class="border border-0 bg-transparent"><i class="fas fa-plus-circle"></i></button>
                            <input type="text" name="newTable" placeholder="Enter New Test Table" required>
                        </form>
                    </div>
                </div>
                <div class="row h-100">
                    <div class="card d-flex flex-column align-items-center">
                        <h6 class="text-center py-2 fw-bold">Delete Test Table</h6>
                        <form action="/manageTests/delete" method="POST" id="TableForm">
                            <button type="submit"  class="border border-0 bg-transparent">
                                <i class="fas fa-trash-alt" ></i></button>
                            <select class="form-control py-0" name="deleteTable">
                                <option>--- Choose Table ---</option>
                                <% tables.forEach(table => { %>
                                <option><%= table.tableName.replace(/_/g, ' ').toUpperCase() %></option>
                                <%})%>
                            </select>
                        </form>
                    </div>
                </div>
            </div>
            <h3 class="my-4">Manage Tests</h3>
            <div id="allCourse">
                <table>
                    <tr>
                        <th>Contest Id</th>
                        <th>Contest Name</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Duration</th>
                        <th>No. of Questions</th>
                        <th>Insert Details</th>
                    </tr>
                    <% tables.forEach(table => { %>
                        <% table.data.forEach(contest => { %>
                            <tr>
                                <td><%= contest.contest_id %></td>
                                <td><%= table.tableName.replace(/_test/g, '').toUpperCase() %></td>
                                <td><%= contest.date %></td>
                                <td><%= contest.time %></td>
                                <td><%= contest.duration %></td>
                                <td><%= contest.no_of_questions %></td>
                                <td><a href="/edit-contest/<%= contest.contest_id %>">Edit</a></td>
                            </tr>
                        <% }) %>
                    <% }) %>
                </table>
            </div>
        </div>
